{% macro listTags(tags, type) %}
    {% for tag in tags %}
        {% if tag.type == type %}
            <li class="col-sm-3 col-xs-6"><a href="{{'browser/browser'|page()}}?filters={{tag.name}}">{{ "hon.honcuratorreview::lang.labels.#{tag.name}" | trans }}</a></li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<!-- Item Description -->
<div class="row">
    <div class="col-sm-12">

        {% set hasThemes = false %}
        {% set hasFinancial = false %}
        {% set hasLanguages = false %}
        {% set hasLabels = false %}

        {% for tag in service.tags %}
            {% if tag.type == 'theme' %}
                {% set hasThemes = true %}
            {% elseif tag.type == 'financial' %}
                {% set hasFinancial = true %}
            {% elseif tag.type == 'language' %}
                {% set hasLanguages = true %}
            {% elseif tag.type == 'label' %}
                {% set hasLabels = true %}
            {% endif %}
        {% endfor %}

        {% if hasFinancial %}
        <h4 class="headline"><span>{{ "hon.honcuratorreview::lang.service.financed_by" | trans }}</span></h4>
        <ul class="row">
            {{ _self.listTags(service.tags, 'financial') }}
        </ul>
        {% endif %}

        {% if hasThemes %}
        <h4 class="headline"><span>{{ "hon.honcuratorreview::lang.search.themes" | trans }}</span></h4>
        <ul class="row">
            {{ _self.listTags(service.tags, 'theme') }}
        </ul>
        {% endif %}

        {% if hasLanguages %}
        <h4 class="headline"><span>{{ "hon.honcuratorreview::lang.search.languages" | trans }}</span></h4>
        <ul class="row">
            {{ _self.listTags(service.tags, 'language') }}
        </ul>
        {% endif %}

        {% if hasLabels %}
        <h4 class="headline"><span>{{ "hon.honcuratorreview::lang.service.extra_datas" | trans }}</span></h4>
        <ul class="row">
            {{ _self.listTags(service.tags, 'label') }}
        </ul>
        {% endif %}
    </div>
</div>