<!-- Available platforms -->
<div class="row">
    <div class="col-sm-12">
        {% if service.last_reviews|length > 0%}
        <h4 class="headline"><span>{{ "hon.honcuratorreview::lang.review.last" | trans }}</span></h4>
        {% for review in service.last_reviews %}
        <div class="col-sm-4">
            <div class="last-review">
                <p>{{ "hon.honcuratorreview::lang.review.by" | trans }} : {{review.user.name |capitalize}}</p>
                <p>{% partial '@platform_icon' platform=review.app.platform.name %} {{review.title}}</p>
                <p>{% partial '@stars' rating=review.global_rate %} </p>
                <p>{{review.global_comment}}</p>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h4 class="headline"><span>{{ 'hon.honcuratorreview::lang.review.no_review' | trans }}</span></h4>
        <p class="col-sm-12 bg-warning"> {{ 'hon.honcuratorreview::lang.review.be_first' | trans }}  <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target=".form_review">
            <i class="fa fa-commenting-o"></i> {{ 'hon.honcuratorreview::lang.review.add' | trans }}
        </button></p>
        {% endif %}
    </div>
</div>