<!-- Item Description -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="headline"><span>Service Statistics</span></h4>
        <div class="col-sm-12">
            <h6 class="headline"><span>Global rating</span></h6>
            {% if service.average_rating %}
                {% partial '@stars' rating=service.average_rating %}
            {% else %}
                {{'No reviews'|_}}</p>
            {% endif %}
            {% for app in service.apps %}
            {% if app.average_rating %}
            <h6 class="headline"><span>{{app.platform.name}} ratings</span></h6>
                {% partial '@stars' rating=app.average_rating %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>