.breakable {
    white-space:normal !important;
    word-wrap: break-word;
    word-break: break-word;
}

.table-responsive .links .btn {
    display: table!important;
    width: 100%;
}

.flow-item .icon {
    float: left;
    margin-right: 15px;
    color: #f1c40f;
    width: 25px;
    font-size: 200%;
}
.flow-item .userLink {
    color: #0f354c;
}
.flow-item .userLink:hover {
    color: #2986bf;
}


.app-link {
    border: 1px solid #DDDDDD;
    display: block;
    padding: 10px;
    border-radius: 13px;
    margin-bottom: 5px;
}
.app-link img {
    height: 45px;
}


.app-link.list {
    padding: 20px;
    height: 180px;
}
.app-link.list img {
    height: 60px;
}

.text-muted.reviews {
    margin-left: 5px;
}