{{ form_open({
    method:'GET'
    }) }}
<div class="row">
    <div class="well">
        <div class="input-group">
            <input type="text" class="form-control" name="search" value="{{search}}" placeholder="Search service...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
{{ form_hidden('filters', filters) }}
{{ form_close() }}

<div class="row">
    <div class="col-sm-8 col-sm-push-4">
        {% partial '@list' %}
    </div>
    <div class="col-sm-4 col-sm-pull-8">
        {% partial '@sidebar' %}
    </div>
</div>