<div class="col-sm-6 col-lg-4">
    <div class="shop-product">
        <a href="{{ 'shop/product'|page }}"><img src="{{ service.preview_url }}" style="height:100px" class="img-responsive" alt=""></a>
        <a href="{{ 'shop/product'|page }}"><h6>{{ service.name }}</h6></a>
        <p>
            {% partial '@stars' rating=service.average_rating %}
        </p>

        {% if user %}
            <a href="#" class="btn btn-sm btn-info"><i class="fa fa-commenting-o"></i> Add my review</a>
        {% endif %}

    </div>
</div>