<!-- Filters -->
<ul class="nav nav-tabs nav-justified">
    <li  class="{{ platform ? '': 'active' }}">
        <a href="{{ ''| page() }}?filters={{tag.getTranslateAttribute('name', 'en')}}{{filters ? '|'~ filters|join('|')}}{{search ? '&search='~search}}">
            {{ "hon.honcuratorreview::lang.platform.all" | trans }}</a></li>
    {% for oPlatform in platforms %}
    <li class="{{ (platform == oPlatform.name) ? 'active': '' }}">
        <a href="{{ ''| page() }}?filters={{tag.getTranslateAttribute('name', 'en')}}{{filters ? '|'~ filters|join('|')}}{{search ? '&search='~search}}&platform={{oPlatform.name}}">
            {{ "hon.honcuratorreview::lang.platform.#{oPlatform.name}" | trans }}</a></li>
    {% endfor %}
</ul>

<div class="row">
    <div class="tab-content">

        <!-- All-->
        <div class="tab-pane fade in active" id="all">
            {% for service in services %}
                {% partial '@itemlist' service=service %}
            {% endfor %}
            {% if services is empty %}
                <div class="col-sm-8">
                    <p>{{ "hon.honcuratorreview::lang.search.noresult" | trans }}</p>
                </div>
            {% endif %}
        </div>

        {% for platform in platforms %}
        <div class="tab-pane fade" id="{{platform.name}}">
            {% for service in services %}
                {% if service.hasPlatform(platform.name) %}
                    {% partial '@itemlist' service=service %}
                {% endif %}
            {% endfor %}
            {% if services is empty %}
            <div class="col-sm-8">
                <p>{{ "hon.honcuratorreview::lang.search.noresult" | trans }}</p>
            </div>
            {% endif %}
        </div>

        {% endfor %}
    </div>
</div>
{% set urlFilters= filters ? {'filters': filters} %}
{% set urlSearch= search ? {'search': search} %}
{% set urlPlatform= platform ? {'platform': platform} %}

{% if not services is empty %}
<p><small><em>{{services.total}} {{ "hon.honcuratorreview::lang.search.results" | trans }}</em></small></p>
{% endif %}

{% if services.total <= 6 %}
    {{ "hon.honcuratorreview::lang.platform.not_find" | trans }}

    {% if user %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".form_service">
        {{ "hon.honcuratorreview::lang.platform.create_it" | trans }}</button>
    {% else %}
        <a href="{{ 'account/signin'|page }}"
                class="btn btn-primary">
        {{ "hon.honcuratorreview::lang.platform.create_it" | trans }}</a>
    {% endif %}

    <p>{{ "hon.honcuratorreview::lang.platform.prevent_duplicate" | trans }}</p>
{% endif %}

{{ services.appends(urlFilters).appends(urlSearch).appends(urlPlatform).render|raw }}
