<!-- Filters -->
<ul class="nav nav-tabs nav-justified">
    <li  class="{{ platform ? '': 'active' }}">
        <a href="{{ ''| page() }}?filters={{tag.getTranslateAttribute('name', 'en')}}{{filters ? '|'~ filters|join('|')}}{{search ? '&search='~search}}">
            All</a></li>
    {% for oPlatform in platforms %}
    <li class="{{ (platform == oPlatform.name) ? 'active': '' }}">
        <a href="{{ ''| page() }}?filters={{tag.getTranslateAttribute('name', 'en')}}{{filters ? '|'~ filters|join('|')}}{{search ? '&search='~search}}&platform={{oPlatform.name}}">
            {{oPlatform.name}}</a></li>
    {% endfor %}
</ul>

<div class="row">
    <div class="tab-content">

        <!-- All-->
        <div class="tab-pane fade in active" id="all">
            {% for service in services %}
                {% partial '@itemlist' service=service %}
            {% endfor %}
            {% if services is empty %}
                <div class="col-sm-8">
                    <p>No Service is matching your request</p>
                </div>
            {% endif %}
        </div>

        {% for platform in platforms %}
        <div class="tab-pane fade" id="{{platform.name}}">
            {% for service in services %}
                {% if service.hasPlatform(platform.name) %}
                    {% partial '@itemlist' service=service %}
                {% endif %}
            {% endfor %}
            {% if services is empty %}
            <div class="col-sm-8">
                <p>No Service is matching your request</p>
            </div>
            {% endif %}
        </div>

        {% endfor %}
    </div>
</div>
{% set urlFilters= filters ? {'filters': filters} %}
{% set urlSearch= search ? {'search': search} %}

{{ services.appends(urlFilters).appends(urlSearch).render|raw }}
{% if not services is empty %}
<p><span>{{services.total}} results</span></p>
{% endif %}
