
{% macro listTags(tags, type, filters, search) %}
    {% for tag in tags %}
    {% if tag.type == type and tag.services|length > 0 %}
    <li class="list-group-item">
        <a href="{{ ''| page() }}?filters={{tag.getTranslateAttribute('name', 'en')}}{{filters ? '|'~ filters|join('|')}}{{search ? '&search='~search}}">
            {{ tag.name}}</a> <span class="badge">{{ tag.services|length}}</span></li>
    {% endif %}
    {% endfor %}
{% endmacro %}

<!-- Filters -->
{% if filters %}
<div class="well">
    <div class="panel-heading">
        Active Filters
    </div>
    <div class="input-group">
        {% for filter in filters|split('|') %}
            {% set aFilters=filters|join('|') %}
            <a style="margin: 3px" class="btn btn-sm btn-default"
               href="{{ ''| page() }}?filters={{ filters ? filters|join('|')|replace({(filter):''})|trim('|')}}{{search ? '&search='~search}}">
                <span>{{filter}}</span> <i class="fa fa-close"></i></a>
        {% endfor %}
    </div>
</div>
{% endif %}

<!-- Categories -->
<div class="panel-group" id="shopNav">
    {% if tags is not empty %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#shopNav" href="#shopNavOne">
                Themes
            </a>
        </div>
        <div id="shopNavOne" class="panel-collapse collapse in">
            <ul class="list-group filter-list-group">
                {{ _self.listTags(tags, 'theme', filters, search) }}
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#shopNav" href="#shopNavTwo" class="collapsed">
                Languages
            </a>
        </div>
        <div id="shopNavTwo" class="panel-collapse collapse">
            <ul class="list-group filter-list-group">
                {{ _self.listTags(tags, 'language', filters, search) }}
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#shopNav" href="#shopNavThree" class="collapsed">
                Labels
            </a>
        </div>
        <div id="shopNavThree" class="panel-collapse collapse">
            <ul class="list-group filter-list-group">
                {{ _self.listTags(tags, 'label', filters, search) }}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
