<!-- Search -->
<form role="form">
    <div class="well">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search products...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</form>

<!-- Categories -->
<div class="panel-group" id="shopNav">
    {% if tags is not empty %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#shopNav" href="#shopNavOne">
                Themes
            </a>
        </div>
        <div id="shopNavOne" class="panel-collapse collapse in">
            <ul class="list-group filter-list-group">
            {% for tag in tags %}
                {% if tag.type == 'theme' and tag.services|length > 0 %}
                    <li class="list-group-item"><a href="#">{{ tag.name}}</a> <span class="badge">{{ tag.services|length}}</span></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#shopNav" href="#shopNavTwo" class="collapsed">
                Languages
            </a>
        </div>
        <div id="shopNavTwo" class="panel-collapse collapse">
            <ul class="list-group filter-list-group">
            {% for tag in tags %}
                {% if tag.type == 'language' and tag.services|length > 0 %}
                    <li class="list-group-item"><a href="#">{{ tag.name}}</a> <span class="badge">{{ tag.services|length}}</span></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#shopNav" href="#shopNavThree" class="collapsed">
                Labels
            </a>
        </div>
        <div id="shopNavThree" class="panel-collapse collapse">
            <ul class="list-group filter-list-group">
            {% for tag in tags %}
                {% if tag.type == 'label' and tag.services|length > 0 %}
                    <li class="list-group-item"><a href="#">{{ tag.name}}</a> <span class="badge">{{ tag.services|length}}</span></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>