<div class="col-sm-6 col-lg-4">
    <div class="shop-product">
        <a href="{{ 'shop/product'|page }}"><img src="{{ 'assets/images/shop/macbook.jpg'|theme }}" class="img-responsive" alt=""></a>
        <a href="{{ 'shop/product'|page }}"><h6>{{ app.name }}</h6></a>
        <p>
            {% if app.average_rating > 0 %}
                {% for i in 1..app.average_rating %}
                <i class="fa fa-star"></i>
                {% endfor %}
            {% endif %}
            {% if ( app.average_rating|round(0,'floor') !=  app.average_rating|round(0,'ceil') ) %}
                <i class="fa fa-star-half-full"></i>
            {% endif %}

            {% if app.average_rating < 5 %}
                {% for i in app.average_rating..4 %}
                <i class="fa fa-star-o"></i>
                {% endfor %}
            {% endif %}
        </p>

        {% if user %}
            <a href="#" class="btn btn-sm btn-info"><i class="fa fa-commenting-o"></i> Add my review</a>
        {% endif %}

    </div>
</div>