<!-- You can create and extend partial form response types.
     You must send informations as 'response' or Update Service controller to fits your needs -->
<div class="switch-field">
    <input  type="radio" id="switch_left" name="response" value="true" />
    <label class="full" for="switch_left">{{ "hon.honcuratorreview::lang.review.answers.yes" | trans }}</label>
    <input type="radio" id="switch_right" name="response" value="false" />
    <label class="full" for="switch_right">{{ "hon.honcuratorreview::lang.review.answers.no" | trans }}</label>
</div>