<div class="col-sm-10 center-block form-group">
    <h4>{{ "hon.honcuratorreview::lang.review.general_detail" | trans }}</h4>
    {{ form_label(form.name, "hon.honcuratorreview::lang.review.service_name" | trans) }}  
    {{ form_text('name', null, {class: 'form-control'}) }}
</div>
<div class="col-sm-10 center-block form-group">

{{ form_label(form.name, "hon.honcuratorreview::lang.review.description" | trans) }}  
{{ form_textarea('description', null, {class: 'form-control'})}}
</div>

<div class="col-sm-10 center-block form-group">
    <h4>{{ "hon.honcuratorreview::lang.service.available" | trans }}</h4>
    <small class="text-danger">{{ "hon.honcuratorreview::lang.review.at_least" | trans }}</small>
</div>
{% for platform in platforms %}
<div class="col-sm-10 center-block form-group">
    {{ form_label(form.name, "hon.honcuratorreview::lang.platform.#{platform.name}" | trans) }}      
    {{ form_text('platforms['~platform.id~']', null, {class: 'form-control', placeholder: "hon.honcuratorreview::lang.service.add_valid_url" | trans}) }}
</div>
{% endfor %}


<div class="col-sm-10 center-block form-group">
    <h4>{{ "hon.honcuratorreview::lang.review.ownership" | trans }}</h4>
    {{ form_label(form.name, "hon.honcuratorreview::lang.review.owner" | trans) }}
    <div class="switch">
        <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" value="true" name="owner" type="checkbox">
        <label for="cmn-toggle-1"></label>
    </div>
    <small class="info">{{ "hon.honcuratorreview::lang.review.contact_you" | trans }}</small>
</div>
