<div class="col-sm-10 center-block form-group">
    {{ "hon.honcuratorreview::lang.review.test_on" | trans }}
    {{ form_select('app_id', apps.pluck('platform.name', 'id'), null, {class: 'form-control'})}}
</div>
<div class="col-sm-10 center-block form-group">
    {{ "hon.honcuratorreview::lang.review.your" | trans }}
    <input class="form-control" name="title" onkeyup="textCounter(this,'title_counter_{{review.id}}',50);" value="{{review.title}}" type="text">
    <small><span id="title_counter_{{review.id}}">{{50 - review.title|length}}</span> {{ "hon.honcuratorreview::lang.review.remaining_characters" | trans }}</small>
</div>
<div class="col-sm-10 center-block form-group">
    {{ "hon.honcuratorreview::lang.review.appreciation" | trans }}
    <div class="cols-sm-12">{% partial '@stars-picker' id=review.id %}</div>
</div>
<div class="col-sm-10 center-block form-group">
    {{ "hon.honcuratorreview::lang.review.comment" | trans }}
    <textarea class="form-control" rows="4" onkeyup="textCounter(this,'comment_counter_{{review.id}}',255);" name="global_comment" cols="50">{{review.global_comment}}</textarea>
    <small><span id="comment_counter_{{review.id}}">{{255 - review.global_comment|length}}</span> {{ "hon.honcuratorreview::lang.review.remaining_characters" | trans }}</small>
</div>
