<div class="col-sm-10 center-block form-group">
    {{ form_label('I test on :')}}
    {{ form_select('app_id', apps.lists('platform.name', 'id'), null, {class: 'form-control'})}}
</div>
<div class="col-sm-10 center-block form-group">
    {{ form_label('Your Review') }}
    {{ form_text('title', null, {class: 'form-control'}) }}
</div>
<div class="col-sm-10 center-block form-group">
    {{ form_label('Global Appreciation')}}
    <p class="rating">{% partial '@stars' rating=3 %}</p>
    {% partial '@stars-picker' %}
</div>
<div class="col-sm-10 center-block form-group">
    {{ form_label('Comment')}}
    {{ form_textarea('global_comment', null, {class: 'form-control'})}}
</div>
{{ form_hidden('user_id', user.id)}}
