<div class="modal-content" id="modal-content_app">
{{ form_ajax('onAddApp', {confirm: "hon.honcuratorreview::lang.platform.sure" | trans, update: {'@modal_add_review': target ? target : '#modal-content_app' }, data: {target: target ? target : '#modal-content_app'}}) }}
    {{ form_model(service)}}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel">{{ "hon.honcuratorreview::lang.platform.add_new" | trans }} {{service.name}}</h4>
    </div>
    <div class="modal-body">
        <div class="row col-sm-offset-1">
            {% partial '@form_app' service=service %}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ "hon.honcuratorreview::lang.review.close" | trans }}</button>
        {{ form_submit("hon.honcuratorreview::lang.platform.create" | trans, {class: "btn btn-success"}) }}
    </div>
{{ form_close() }}
</div><!-- /.modal-content -->