{{ form_ajax('onSaveAndRequestQuestion', {update: { '@modal_question': target } }) }}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title text-center" id="gridSystemModalLabel">{{ "hon.honcuratorreview::lang.review.additional" | trans }} </h4>
</div>

<div class="modal-body">
    <div class="row">
    {% if question is not empty %}
        <div class="col-sm-12 form-group modal-question">
            {{ question.question }}
        </div>
        <div class="col-sm-12 form-group">
            {% partial '@' ~ question.responsetype.label %}
        </div>
    {% else %}
        <div class="col-sm-offset-1">
            <h3>{{ "hon.honcuratorreview::lang.review.no_more" | trans }}</h3>
        </div>
    {% endif %}
    </div>
</div>

<div class="modal-footer">
    <button type="button" onclick="window.location.reload()" class="btn btn-default" data-dismiss="modal">{{ "hon.honcuratorreview::lang.review.later" | trans }}</button>
    {{ form_hidden('review_id', review.id)}}
    {{ form_hidden('question_id', question.id)}}
    {{ form_hidden('target', target)}}
    {% if question is not empty %}
 			{{ form_submit("hon.honcuratorreview::lang.review.next" | trans, {class: "btn btn-success"}) }}    
    {% endif %}
</div>
{{ form_close() }}