<div class="modal-content" id="modal-content-search_">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel">{{ "hon.honcuratorreview::lang.platform.search" | trans }}</h4>
    </div>
    <div class="modal-body">
        <div>
        {{ form_ajax('onSearchService', {update: {'@modal_search_service': '#modal-content-search_'}, data:{target: '#modal-content-search_'}, id: 'nav-search-form' }) }}
            <div class="input-group">
                <input type="text" class="form-control" name="search" value="{{modal_request}}" placeholder="{{ "hon.honcuratorreview::lang.search.fieldsearch" | trans }}">
                <span class="input-group-btn">
                    <button class="btn search" type="submit"><span class="hidden-xs">{{ "hon.honcuratorreview::lang.search.search" | trans }}</span><i class="fa fa-search"></i></button>
                </span>
            </div>
        {{ form_close() }}
        </div>
        <div class="table-responsive" data-request-data="target: '#modal-content-search_'">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td class="active col-xs-7 breakable col-sm-2" style="max-width: 265px">{{ "hon.honcuratorreview::lang.platform.plat_name" | trans }}</td>
                    <td class="active hidden-xs hidden-sm col-sm-7">{{ "hon.honcuratorreview::lang.platform.plat_description" | trans }}</td>
                    <td class="active hidden-xs col-xs-1">{{ "hon.honcuratorreview::lang.platform.name" | trans }}</td>
                    <td class="active col-xs-2 col-sm-2">{{ "hon.honcuratorreview::lang.platform.plat_link" | trans }}</td>
                </tr>
                </thead>
                {% if modal_services|length > 0 %}
                {% for modal_service in modal_services %}
                <tr data-request-data="service: {{modal_service.id}}">
                    <td class="col-xs-7 col-sm-2 breakable" style="max-width: 265px">{{modal_service.name}}</td>
                    <td class="hidden-xs hidden-sm col-sm-7">{{modal_service.description|slice(0, 150) ~ '...'}}</td>
                    <td class="hidden-xs col-xs-1">
                    {% for platform in modal_service.platforms %}
                        {% partial '@platform_icon' platform=platform.name %}
                    {% endfor %}
                    </td>
                    <td class="active col-xs-2 col-sm-2 links">
                        <a href="{{ 'browser/service'|page({ serviceid: modal_service.id}) }}">
                        <button type="button"
                                class="btn btn-info" style="margin-bottom: 5px">
                            {{ "hon.honcuratorreview::lang.platform.see_details" | trans }}</button></a>

                        <button type="button"
                                data-request="onStartReview"
                                data-request-data="target: '#modal-content-search_'"
                                data-request-update="'@modal_add_review': '#modal-content-search_'"
                                class="btn btn-primary breakable">
                            {{ "hon.honcuratorreview::lang.platform.review_this" | trans }}</button>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td class="active col-xs-7 breakable col-sm-2"></td>
                    <td class="active hidden-xs col-sm-7"></td>
                    <td class="active hidden-xs col-xs-1"></td>
                    <td class="active col-xs-2"></td>
                </tr>
                {% endif %}
            </table>
        </div>
        {% if modal_request %}
        <div class="row col-xs-offset-1">
          {{ "hon.honcuratorreview::lang.platform.not_find" | trans }} <button type="button"
                                         data-request="onStartService"
                                         data-request-data="target: '#modal-content-search_'"
                                         data-request-update="'@modal_add_service': '#modal-content-search_'"
                                         class="btn btn-primary">{{ "hon.honcuratorreview::lang.platform.create_it" | trans }}</button>
            <p>{{ "hon.honcuratorreview::lang.platform.prevent_duplicate" | trans }}</p>
        </div>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ "hon.honcuratorreview::lang.review.close" | trans }}</button>
    </div>
</div><!-- /.modal-content -->
