<div class="modal-content" id="modal-content_">
{% if apps|length > 0 %}

{{ form_ajax('onSaveReview', {update: {'@modal_question': target ? target : '#modal-content_' }, data: {target: target ? target : '#modal-content_'}}) }}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Add your review about: {{ service.name }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            {% partial '@form_review' user=user %}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        {{ form_submit('Save', {class: "btn btn-primary"}) }}
    </div>
{{ form_close() }}
{% else %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Add your review about: {{ service.name }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <p>You already reviewed all platforms on this service thanks !</p>
            <p>You can edit or complete them on the <a href="{{ 'services/service'|page({ serviceid: service.id })}}" class="btn btn-success">detail page </a></p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
{% endif %}
</div><!-- /.modal-content -->
