{% if user %}
{{ form_ajax('onSaveService', {update: {'@modal_add_review': target ? target : '#modal-content_' },confirm: "hon.honcuratorreview::lang.platform.sure" | trans, data: {target: target ? target : '#modal-content_'}}) }}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="gridSystemModalLabel">{{ "hon.honcuratorreview::lang.service.add_new" | trans }}</h4>
    </div>
    <div class="modal-body">
        <div class="row col-sm-offset-1">
            {% partial '@form_service' user=user %}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ "hon.honcuratorreview::lang.review.close" | trans }}</button>
        {{ form_submit("hon.honcuratorreview::lang.service.create" | trans, {class: "btn btn-success"}) }}
    </div>
{{ form_close() }}
{% endif %}