<div class="modal-content" id="modal-content-search_">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Search the service to review</h4>
    </div>
    <div class="modal-body">
        <div class="row">
        {{ form_ajax('onSearchService', {update: {'@modal_search_service': '#modal-content-search_'}, data:{target: '#modal-content-search_'}, id: 'nav-search-form' }) }}
            <div class="input-group">
                <input type="text" class="form-control" name="search" value="{{modal_request}}" placeholder="Search service...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                </span>
            </div>
        {{ form_close() }}
        </div>
        <div class="table-responsive" data-request-data="target: '#modal-content-search_'">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td class="active col-xs-1 col-sm-2">Name</td>
                    <td class="active hidden-xs col-sm-7">Description</td>
                    <td class="active hidden-xs col-xs-1">Platforms</td>
                    <td class="active col-xs-1 col-sm-2">link</td>
                </tr>
                </thead>
                {% if modal_services|length > 0 %}
                {% for modal_service in modal_services %}
                <tr data-request-data="service: {{modal_service.id}}">
                    <td class="col-xs-1 col-sm-2">{{modal_service.name}}</td>
                    <td class="hidden-xs col-sm-7">{{modal_service.description|slice(0, 150) ~ '...'}}</td>
                    <td class="hidden-xs col-xs-1">
                    {% for platform in modal_service.platforms %}
                        {% partial '@platform_icon' platform=platform.name %}
                    {% endfor %}
                    </td>
                    <td class="active col-xs-1 col-sm-2">
                        <a href="{{ 'services/service'|page({ serviceid: modal_service.id}) }}">
                        <button type="button"
                                class="btn btn-info" style="margin-bottom: 5px">
                            See details</button></a>

                        <button type="button"
                                data-request="onStartReview"
                                data-request-data="target: '#modal-content-search_'"
                                data-request-update="'@modal_add_review': '#modal-content-search_'"
                                class="btn btn-primary breakable">
                            Review </button>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td class="active col-xs-1 col-sm-2"></td>
                    <td class="active hidden-xs col-sm-7"></td>
                    <td class="active hidden-xs col-xs-1"></td>
                    <td class="active col-xs-2"></td>
                </tr>
                {% endif %}
            </table>
        </div>
        {% if modal_request %}
        <div class="row col-xs-offset-1">
            You didn't find it ? <button type="button"
                                         data-request="onStartService"
                                         data-request-data="target: '#modal-content-search_'"
                                         data-request-update="'@modal_add_service': '#modal-content-search_'"
                                         class="btn btn-primary">Create It</button>
            <p>Please be sure before creating it to prevent duplicates</p>
        </div>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div><!-- /.modal-content -->
