
<div class="modal fade form_edit_review_{{review.app_id}}" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content" id="modal-content_{{review.app_id}}">
            {{ form_ajax('onSaveReview', {redirect: this.controller.currentPageUrl()}) }}
            {{ form_model(review)}}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title text-center">{{ "hon.honcuratorreview::lang.review.edit_about" | trans }}</p>
                <h4 class="modal-title text-center" id="gridSystemModalLabel"> {{service.name}}</h4>
            </div>
            <div class="modal-body">
                <div class="row col-sm-offset-1">
                    {% partial '@form_review' user=user %}
                    <div class="col-sm-10 center-block form-group">
                        <button class=" btn btn-success"
                                data-request-update="'@modal_question': '#modal-content_{{review.app_id}}'"
                                data-request="onRequestQuestion"
                                data-request-data="target: '#modal-content_{{review.app_id}}'">
                            {{ "hon.honcuratorreview::lang.review.answer_more" | trans }}</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-request-confirm='{{"hon.honcuratorreview::lang.review.deleteConfirmation" | trans }}'
                        data-request-redirect="{{''|page}}"
                        data-request="onRemoveReview"
                        dara-request-data="id: review.id"
                        class="btn btn-danger">{{ "hon.honcuratorreview::lang.review.remove" | trans }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ "hon.honcuratorreview::lang.review.close" | trans }}</button>
                {{ form_hidden('review_id', review.id)}}
                {{ form_submit("hon.honcuratorreview::lang.review.save" | trans, {class: "btn btn-success"}) }}

            </div>
            {{ form_close() }}
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
