
<div class="modal fade form_edit_review_{{review.app_id}}" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content" id="modal-content_{{review.app_id}}">
            {{ form_ajax('onSaveReview', {redirect: this.controller.currentPageUrl()}) }}
            {{ form_model(review)}}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Edit your review about: {{ service.name }}</h4>
            </div>
            <div class="modal-body">
                <div class="row col-sm-offset-1">
                    {% partial '@form_review' user=user %}
                    <div class="col-sm-10 center-block form-group">
                        <button class=" btn btn-success"
                                data-request-update="'@modal_question': '#modal-content_{{review.app_id}}'"
                                data-request="onRequestQuestion"
                                data-request-data="target: '#modal-content_{{review.app_id}}'">
                            Answer more questions</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-request-confirm="Are you sure ?"
                        data-request-redirect="{{''|page}}"
                        data-request="onRemoveReview"
                        dara-request-data="id: review.id"
                        class="btn btn-danger">Remove my Review</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                {{ form_hidden('review_id', review.id)}}
                {{ form_submit('Save', {class: "btn btn-primary"}) }}
            </div>
            {{ form_close() }}
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
